body {
    margin: 0;
    padding: 0;
}

header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin: 0;

  nav {
    .logo {
      h4 {
        margin: 0;
        padding-top: 45px;
        padding-left: 40px;
        opacity: 0.9;
        letter-spacing: 4px;
      }

      color: white;
    }

    .nav {
      display: inline-block;
    }

    .navbar {
      float: right;

      ul {
        margin: 0;
        padding-top: 45px;
        padding-right: 20px;

        li {
            letter-spacing: 1px;
          a {
            text-decoration: none;
            font-size: 11px;
            color: white;

            &:hover {
                color: rgb(236, 161, 70);
              }
          }

          

          display: inline;
          color: white;
          margin: 20px;
        }

        li:first-child {
          a {
            color: rgb(236, 161, 70);
          }
        }
      }
    }
  }

  .center-headings {
    .heading1 {
      width: 80px;
      height: 30px;
      margin: auto;
      border-bottom: 1px solid white;
      color: white;
      letter-spacing: 2px;
    }

    .heading2 {
      width: 700px;
      height: 80px;
      margin: auto;
      padding-top: 20px;
      font-size: 80px;
      font-weight: 300;
      font-family: "Lora", serif;
      color: white;
    }

    .heading3 {
      width: 500px;
      height: 100px;
      margin: 40px auto;
      color: rgb(236, 161, 70);
      letter-spacing: 4px;
    }

    .heading4 {
      span {
        a {
          text-decoration: none;
          color: white;

          display: block;
          padding-top: 10px;
        }
      }

      width: 150px;
      height: 40px;
      margin: auto;
      border-style: solid;
      border-radius: 5px;
      border-color: white;
    }

    margin-top: 150px;
    text-align: center;
    border-bottom: 2px;
  }

  height: 620px;
  background-image: url(/img/marek-piwnicki-ooxzy4JN6gw-unsplash.jpg);
  background-size: 100% 750px;
}


main {
  .content1 {
    .heading {
      // background-color: aqua;
      width: 400px;
      height: 100px;
      margin: auto;
      padding-top: 50px;
      text-align: center;
      font-family: "Lora", serif;
      font-weight: normal;
      font-size: 16px;
      line-height: 30px;
      opacity: 0.7;
    }

    .text {
      p:last-child {
        float: right;
      }

      p {
        // background-color: red;
        width: 420px;
        display: inline-block;
        margin: 0px;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        opacity: 0.5;
        line-height: 25px;
      }

      // background-color: aqua;
      width: 900px;
      height: 150px;
      margin: 40px auto;
    }

    width: 100%;
    height: 350px;
  }

  .content2 {
    .heading1 {
      width: 140px;
      height: 30px;
      margin: auto;
      padding-top: 150px;
      border-bottom: 1px solid white;
      color: white;
      letter-spacing: 2px;
    }

    .heading2 {
      width: 600px;
      height: 80px;
      margin: auto;
      padding-top: 10px;
      font-size: 60px;
      font-weight: 300;
      font-family: "Lora", serif;
      color: white;
    }

    .heading3 {
      width: 500px;
      height: 100px;
      margin: auto;
      color: rgb(236, 161, 70);
      letter-spacing: 2px;
    }

    .heading4 {
      span {
        a {
          text-decoration: none;
          color: white;

          display: block;
          padding-top: 10px;
        }
      }

      width: 150px;
      height: 40px;
      margin: auto;
      border-style: solid;
      border-radius: 5px;
      border-color: white;
    }
    background-image: url(/img/canyon3.jpg);
    background-size: 100% 850px;
    height: 500px;
    margin-top: 150px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    border-bottom: 2px;
  }

  .content3 {
    .heading {
      width: 400px;
      height: 100px;
      margin: auto;
      padding-top: 50px;
      text-align: center;
      font-family: "Lora", serif;
      font-weight: normal;
      letter-spacing: 1px;
      font-size: 16px;
      line-height: 30px;
      opacity: 0.7;
    }
    p {
      // background-color: aqua;
      width: 670px;
      height: 200px;
      margin: auto;
      text-align: center;
      font-family: "Raleway", sans-serif;
      font-weight: 600;
      opacity: 0.5;
      line-height: 25px;
    }
  }

  .content4 {
        .box {
            // background-color: red;
            margin-bottom: 20px;
            width: 370px;
            height: 500px;
            display: inline-block;
            &:nth-child(2n) {
                float: right;
            }

            
        }

        .box1 {
           
            .heading {
                margin: 30px 0px;
                opacity: 0.9;
                .heading1 {
                  width: 30px;
                  height: 30px;
                  margin: auto;
                  border-bottom: 1px solid black;
                  color: black;
                  font-family:"Raleway", sans-serif;
                  font-size: 10px;
                  font-weight: bold;
                }
            
                .heading2 {
                  width: 300px;
                  height: 80px;
                  text-align: center;
                  margin: auto;
                  padding-top: 10px;
                  font-size: 20px;
                  font-family: "Lora", serif;
                  color: black;
                }
            
                .heading3 {
                  width: 300px;
                  height: 60px;
                  margin: auto;
                  font-family:"Raleway", sans-serif;
                  text-align: center;
                  font-weight: bold;
                  color: rgb(236, 161, 70);
                }
            }
            
        }

        .box2 {
            background-image: url(./img/forest1.jpg);
            background-size: cover;
        }

        .box3 {
            img {
                width: 100%;
                height: 300px;
            }
            
            .heading {
                margin: 30px 0px;
                opacity: 0.9;
                .heading1 {
                  width: 40px;
                  height: 30px;
                  margin: auto;
                  border-bottom: 1px solid black;
                  color: black;
                  font-family:"Raleway", sans-serif;
                  font-size: 10px;
                  font-weight: bold;
                  text-align: center;
                }
            
                .heading2 {
                  width: 300px;
                  height: 80px;
                  text-align: center;
                  margin: auto;
                  padding-top: 10px;
                  font-size: 20px;
                  font-family: "Lora", serif;
                  color: black;
                }
            
                .heading3 {
                  width: 300px;
                  height: 60px;
                  margin: auto;
                  font-family:"Raleway", sans-serif;
                  text-align: center;
                  font-weight: bold;
                  color: rgb(236, 161, 70);
                }
            }
            
        }

        .box4 {

            img {
                width: 100%;
                height: 300px;
            }

            .heading {
                margin: 30px 0px;
                opacity: 0.9;
                .heading1 {
                  width: 40px;
                  height: 30px;
                  margin: auto;
                  border-bottom: 1px solid black;
                  color: black;
                  font-family:"Raleway", sans-serif;
                  font-size: 10px;
                  font-weight: bold;
                  text-align: center;
                }
            
                .heading2 {
                  width: 300px;
                  height: 80px;
                  text-align: center;
                  margin: auto;
                  padding-top: 10px;
                  font-size: 20px;
                  font-family: "Lora", serif;
                  color: black;
                }
            
                .heading3 {
                  width: 300px;
                  height: 60px;
                  margin: auto;
                  font-family:"Raleway", sans-serif;
                  text-align: center;
                  font-weight: bold;
                  color: rgb(236, 161, 70);
                }
            }
            
        }
       
    // background-color: aqua;
    width: 800px;
    height: 100%;
    margin: auto;
  }
}
